/* styles.css */

/* Reset default browser styles */
body, h1, h2, p, ul {
    /* margin: 12px; */
    padding: 0;
  }
  .logo{
    width: 20px;
    height: 20px;
    background-image: url('./000.jpg');
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: top left;
    background-size: contain;
    padding: 20px;    
    border-bottom: 1px solid black;
    margin-bottom: 2px;
  }
  
  /* Header */
  header {
    background-color: #4aa8b3;;
    padding: 80px;
    display: flex;
    text-align: center;
  }
  header h1{
    margin-left: 200px;
  }
  
  
  /* Main content */
  main {
    margin: 20px;
  }

  section {
    /* margin-bottom: 20px; */
    padding-top: 60px;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 60px;
    margin-left: 12%;
    margin-right: 12%;
    /* background-color: aqua; */
  }
  
  h3 {
    margin-top: 78px;
    margin-left: 40px;
    font-family: 'Cabin', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.42;
    color: #4a4a4a;
    margin-bottom: 20px;
  }
  p{
    font-family: 'Open Sans', sans-serif;
    color: #666;
  }
  h5{
    margin-left: 36px;
    color:#4a4a4a;
    margin-bottom: 15px;
    margin-top: 25px;
    font-size: 20px;
    line-height: 1.6;
  }
  p, ul {
    margin-left: 36px;
    margin-top: 4px;
  }
 li {
    padding-top: 12px;
    padding-bottom: 2px;
    color:#4a4a4a;
    font-size: 18px;
    font-weight: 600;
 }
.small {
    font-size: small;

 }
  
  ul {
    list-style-type:none;
    padding-left: 20px;
  }
  .icon-list {
    list-style-type: none;
    padding-left: 0;
  }
  .icon-list-not {
    list-style-type: none;
    padding-left: 0;
  }
  
  .icon-list li::before {
    content: "\f058"; /* Unicode for the check-circle icon in Font Awesome */
    font-family: "FontAwesome"; /* Replace with the appropriate Font Awesome font family */
    font-weight: 900;
    margin-right: 16px;
    color: #4aa8b3 ;
    font-size: 24px;
  }
  .icon-list-not li::before {
    content: "\f057"; /* Unicode for the check-circle icon in Font Awesome */
    font-family: "FontAwesome"; /* Replace with the appropriate Font Awesome font family */
    font-weight: 900;
    margin-right: 16px;
    color: red ;
    font-size: 24px;
  }
  
  
  /* Footer */
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin-bottom: 0;
  }
  

  @media screen and (max-width: 1300px) {
    section{
    margin-left: 8%;
    margin-right: 8%;

    }
  }
  
  @media screen and (max-width: 600px) {
    section{
    margin-left: 0;
    margin-right: 0;

    }
    header{
      padding: 33px;
    }
    header h1{
      margin-left: 12px;
    }
    html{
      margin: 0;
    }
    body{
      margin: 2px;
    }
    .special{
      text-align: center;
    }
  }